h1{
  color: rgb(12, 4, 4); 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 200;
  margin-top: 50;
  margin-bottom: 50;
  font-size: 40;
  }

  img{
    margin-left: 55;  
  }

h2{ 
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 80;
  margin-bottom: 40;
  font-size: 26;
}
 h3{
  margin-left: 30;
 }

 p{
     margin-left: 55;
     font-size: 20;
 }

 ul{
     margin-left: 35;
     font-size: 20;
 }

 ol{
    margin-left: 35;
    font-size: 20;
 }


 
